*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;
}


body{
background:#f5f7fb;
}



header{

height:70px;
background:#1e3c72;
display:flex;
justify-content:space-between;
align-items:center;
padding:0 60px;
color:white;

}


.logo{

font-size:25px;
font-weight:bold;

}


nav a{

color:white;
text-decoration:none;
margin-left:30px;
font-size:17px;

}


nav a:hover{

color:#ffd700;

}



.hero{

display:flex;
align-items:center;
justify-content:space-around;
padding:60px;

}



.content{

width:45%;

}


.content h1{

font-size:45px;
color:#1e3c72;
margin-bottom:20px;

}


.content p{

font-size:20px;
line-height:1.6;
color:#555;

}



button{

margin-top:25px;
padding:15px 35px;
background:#1e3c72;
color:white;
border:none;
border-radius:30px;
font-size:17px;
cursor:pointer;

}


button:hover{

background:#2a5298;

}



.image img{

width:450px;
border-radius:20px;

}




.features{

text-align:center;
padding:40px;

}


.features h2{

font-size:35px;
color:#1e3c72;

}



.cards{

display:flex;
justify-content:center;
gap:30px;
margin-top:30px;

}


.card{

background:white;
width:280px;
padding:30px;
border-radius:15px;
box-shadow:0px 5px 20px #ddd;

}


.card h3{

color:#1e3c72;
margin-bottom:15px;

}